* {
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
}

.header {
  background-color: #f6f6f6;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 0 2rem;
  padding: 1rem;
}

.header > button {
  background-color: #c6c898;
  border-radius: 0.25rem;
  font-weight: bolder;
  padding: 0.5rem 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  gap: 2rem;
  width: 100%;
}

.main__title {
  font-size: 3rem;
  text-align: center;
}

.card {
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 600px;
}
